
      <!-- HEADER -->
      <header id="header" class="header-section index-header section section-dark navbar navbar-fixed-top floating">
        <div class="container-fluid">
          <div class="navbar-header navbar-left">
            <!-- RESPONSIVE MENU BUTTON -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- HEADER LOGO -->
            <a class="navbar-logo navbar-brand" href="index.html">
              <img src="/content/images/2016/04/WCNmct-200px-1.png" alt="WCN">
            </a>
          </div>
          <!-- NAVIGATION LINKS -->
          <nav id="navigation" class="navigation navbar-collapse collapse navbar-right">
            <ul id="header-nav" class="nav navbar-nav">
              <li>
                <a href="index.html" class="hidden">Top</a>
              </li>
              <li>
                <a href="https://wellconnectednow.com/about.html/index.html">How WCN Works</a>
              </li>
              <li>
                <a href="https://wellconnectednow.com/about.html/matches.html">Our Specialists</a>
              </li>
              <li>
                <a href="https://wellconnectednow.com/about.html/index.html#pricing">Pricing</a>
              </li>
              <li>
                <a href="https://wellconnectednow.com/about.html/about.html#faq">FAQ</a>
              </li>
              <li>
              <a href="https://wellconnectednow.com/about.html">About WCN</a>
              </li>
              <li class="current">
                <a href="https://blog.wellconnectednow.com" target="_blank">Blog</a>
              </li>
              </li>
              <li class="header-action-button hide-header-action-button">
                 <a href="/schedule.html" class="btn btn-primary black-btn-text">Get Started</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
