<footer class="footer page-footer">
    <a href="https://wellconnectednow.com">Try Well Connected Now - mentors. coaches. therapists. </a> <span>Copyright &copy; 2014 All rights reserved</span>
</footer>
<!--footer end-->