LTAA-Blog-Snippets.hbs
Header- back to home button for WCN blog:

<a href="{{@blog.url}}" class="btn back-to-home"> 
        <img src="/content/images/2016/04/WCNmct-200px-1.png" alt="Well Connected Now">
        </a>

