/**
 * ==============================================================
 * COLOR STYLESHEET - DREW
 * ==============================================================
 */

/**
 * WCN Yellow
 * - basic      : #ffcc00 (255, 204, 0)
 * - darken 5%  : #F2BF00 (242,191,0)
 * - darken 10% : #e6b300 (230,179,0)
 */

/* BOOTSTRAP OVERRIDE */
a {
	color: #ffcc00;
}
a:focus, a:hover {
	color: #e6b300;
}
.text-primary {
	color: #ffcc00;
}
a.text-primary:hover {
	color: #e6b300;
}
.bg-primary {
	background-color: #ffcc00;
}
a.bg-primary:hover {
	background-color: #e6b300;
}
.btn-primary {
	background-color: rgba(255, 204, 0,0.85);
	border-color: #ffcc00 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	background-color: #F2BF00;
	border-color: #ffcc00;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #ffcc00;
	cursor: pointer;
}
.btn-primary .badge {
	color: #ffcc00;
}
.btn-link {
	color: #ffcc00;
}
.btn-link:hover,
.btn-link:focus {
	color: #e6b300;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	background-color: #ffcc00;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	border-color: #ffcc00;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	background-color: #ffcc00;
}
.pagination > li > a,
.pagination > li > span {
	color: #ffcc00;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	color: #e6b300;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #ffcc00;
	border-color: #ffcc00;
}
.label-primary {
	background-color: rgba(255, 204, 0,0.85);
}
.label-primary[href]:hover,
.label-primary[href]:focus {
	background-color: #F2BF00;
}
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
	color: #ffcc00;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
	border-color: #ffcc00;
}
.progress-bar {
	background-color: #ffcc00;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
	background-color: #ffcc00;
	border-color: #ffcc00;
}
.panel-primary {
	border-color: #ffcc00;
}
.panel-primary > .panel-heading {
	background-color: #ffcc00;
	border-color: #ffcc00;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #ffcc00;
}
.panel-primary > .panel-heading .badge {
	color: #ffcc00;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
	border-bottom-color: #ffcc00;
}

/* COMMON CLASSES */
.icon-list-icon {
	background-color: #ffcc00;
}
/* HEADER */
.navbar-nav > li.header-action-button > a.btn-primary:hover, .navbar-nav > li.header-action-button > a.btn-primary:focus {
	background-color: #F2BF00;
}
/* SECTION COLOR */
.section-accent {
	background-color: #ffcc00;
}
/* BENEFITS */
.section-accent .benefit {
	background-color: #F2BF00;
}
.benefit-icon {
	color: #ffcc00;
}
/* HOW IT WORKS */
.hiw-item-icon {
	background-color: #ffcc00;
}
.section-accent .hiw-item {
	background-color: #ffcc00;
}
.section-accent .hiw-item.even {
	background-color: #F2BF00;
}
.section-accent .hiw-item-icon {
	border-color: #ffcc00;
}
.section-accent .hiw-item.even .hiw-item-icon {	
	border-color: #F2BF00;
}
/* NUMBERS */
.numbers-item-counter {
	color: #ffcc00;
}
/* PRICING TABLE */
.section-accent .pricing-package {
	background-color: #F2BF00;
}
.pricing-package-header {
	border-bottom-color: #ffcc00;
}
.section-dark .pricing-package-header {
	background-color: #ffcc00;
}
/* TESTIMONIAL */
.section-accent .testimonial {
	background-color: #F2BF00;
}
.testimonial-ratings {
	color: #ffcc00;
}
/* TEAM */
.section-accent .team-member {
	background-color: #ffcc00;
}
.section-accent .team-member.even {
	background-color: #F2BF00;
}
.section-accent .team-member-icon {
	border-color: #ffcc00;
}

/* JPRELOADER */
#jpreBar {
	background-color: #ffcc00;
}